<h3>Reestablecer Contraseña</h3>
<form action="/api/users/reestablecer-sin-envio-mail" method="post">
    Ingrese email a reestablecer: <input type="email" name="email" id="email"> 
    <br>     
    <input type="submit" value="Reestablecer">         
</form>
