<h3>Reestablecer Contraseña</h3>
<form action="/api/users/reestablecer-con-envio-mail" method="post">
    Ingrese email para obtener link a restablecer: <input type="email" name="email" id="email"> 
    <br>
    <input type="submit" value="Reestablecer">       
</form>
